<h1>お手伝いさんの一覧</h1>
<% @workers.each do |worker| %>
    <br>
    <%= worker.name %>
    <%= button_to "チャット開始", chat_job_path(@job), method: :get, params: {worker_id: worker.id} %>
<% end %>

<%= link_to '戻る',:back %>
